* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 1.5rem;
  box-sizing: border-box;
}

h1 {
  text-align: left;
}

.app-header {
  display: flex;
  align-items: center;
}

.header-left,
.header-right {
  flex: 1;
}

.header-center {
  flex-shrink: 0;
}

.header-left h1 {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }
}

.sliding-nav {
  position: relative;
  display: flex;
}

.sliding-nav::after {
  content: '';
  position: absolute;
  bottom: -1px;
  height: 3px;
  background: rgb(255, 255, 255);

  left: var(--underline-left, 0);
  width: var(--underline-width, 0);

  transition: left 0.3s ease-out, width 0.3s ease-out;
}

.sliding-nav button {
  border: none;
  background: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  font-size: 1rem;
  color: #616161;
  font-weight: 500;
  transition: color 0.3s ease-out;
}

.sliding-nav button.active {
  color: #ffffff;
}